.pageC{
    display: flex;
    justify-content: center; 
    align-items: center; 
    
}
.registerContent h2{
    margin-bottom: 30px;
}
.registerContent{
    margin-top: 10px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    
    
   
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.login-form {
    width: 350px;
    max-width: 400px;
  }

  .login-form-margin {
    margin-bottom: 16px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }