@import "../../../../../node_modules/ng-zorro-antd/ng-zorro-antd.less";

@primary-color: #ff5927;
@border-radius-base: 20px;
@border-radius: 20px;

.ant-btn-text[_ngcontent-ng-c327756515] {
  background-color: #fff;
  border-color: #fff;
  color: #4143A2;
}

.ant-btn-icon-only[_ngcontent-ng-c2471756005] > *[_ngcontent-ng-c2471756005] {
  font-size: 20px;
}
