
  <section class="productInformations">
    <div class="productImages">
      <img id="featured" [src]="featuredImage" (click)="openImageModal()" />
      <div class="slide-wrapper">
        <button id="prev" (click)="scrollLeft()"><</button>
        <div id="slider">
          <img
            *ngFor="let image of images"
            class="thumbnail"
            [class.active]="image === featuredImage"
            [src]="image"
            (mouseover)="onMouseOver(image)"
          />
        </div>
        <button id="next" (click)="scrollRight()">></button>
      </div>
    </div>
      <div class="textContent">
        <div class="align-right">
          <label class="favorite-checkbox">
            <input type="checkbox" [checked]="isProductInWishlist(productData._id)" (change)="toggleFavorite($event)">
            <i nz-icon nzType="heart" [nzTheme]="isProductInWishlist(productData._id) ? 'fill' : 'outline'"   [@heartSizeChange]="isProductInWishlist(productData._id) ? 'fill' : 'outline'"></i>
          </label>
        </div>
        <h4>{{productData.title}}</h4>
          <div class="ratingContainer">
            <div class="rating" *ngIf="productData.ratingsAverage<=1">
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="rating" *ngIf="productData.ratingsAverage>=1 && productData.ratingsAverage<2">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <div class="rating" *ngIf="productData.ratingsAverage>=2 && productData.ratingsAverage<3">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
            <div class="rating" *ngIf="productData.ratingsAverage>=3 && productData.ratingsAverage<4">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              </div>
              <div class="rating" *ngIf="productData.ratingsAverage>=4 && productData.ratingsAverage<=5">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
              </div>
              <h6 class="reviewQuantity" *ngIf="productData.ratingsQuantity">{{productData.ratingsQuantity}} reviews</h6>
          </div>
          <h5 class="price" *ngIf="!productData.priceAfterDiscount">$ {{productData.price}}</h5>
          <h5 class="price" *ngIf="productData.priceAfterDiscount"><span class="chateb">${{productData.price}}</span> $ {{productData.priceAfterDiscount}}</h5>
          <h5 class="marque"><span>Marque:</span> {{productData.pieceMarque.name}}</h5>
          <P>{{productData.description}}</P>
          <div class="button-container">
              
              <a (click)="addtocart(productData._id)" class="btn">Ajouter<i class="fa-solid fa-cart-shopping"></i></a>
          </div>
      </div>
      
  </section>
  <section class="reviews">
    <div class="reviewInformations">
      <div class="wrapper">
        <h4>Michael lopez</h4>
        <form (ngSubmit)="submitReview()">
          <div class="rating">
            <input type="number" name="rating" hidden [(ngModel)]="selectedRating">
            <i class="fa-star star" *ngFor="let star of stars; let i = index" (click)="selectRating(i)"
            [ngClass]="{'fa-regular': !star, 'fa-solid': star}"></i>
          </div>
          <textarea 
          style="margin-bottom: 10px;"
          [(ngModel)]="opinion"
        nz-input
        name="opinion"
        placeholder="Comment..."
        [nzAutosize]="{ minRows: 3, maxRows: 6 }"
      ></textarea>
          
          <div class="btn-group">
            <button type="submit" nz-button nzType="primary">Ajouter</button>
          </div>
        </form>
      </div>
      <div *ngIf="totalItems>0" class="allReviews">
        <div class="review" *ngFor="let data of paginatedData;index as i">
          <div class="nameRating">
            <h4 class="name">{{data.user.name}}</h4>
            <h4 class="rating"><i class="fa-solid fa-star"></i>{{data.rating}}</h4>
          </div>
          <p> {{data.comment}} </p>
        </div>
        
      </div>
      <h6 style="text-align: center;font-size: 1rem;opacity: .6;" *ngIf="totalItems==0">Pas de commentaire pour le moment ... <i class="fa-solid fa-comment-dots"></i></h6>
      <div class="paginate-style">
        <nz-pagination
        style="margin-bottom: 20px;margin-left: 20px;"
       [nzPageIndex]="currentPage"
       [nzPageSize]="pageSize"
       (nzPageIndexChange)="changePage($event)"
       [nzTotal]="totalItems"
        ></nz-pagination>
      </div>
    </div>
  </section>
  <section  class="relatedProducts">
    
    <div class="content">
      <h4 class="title">Produits <span>Recommandés</span></h4>
      <div class="products">
        <a (click)="getProductId(data._id)" routerLink="/productDetails" class="productDetails" *ngFor="let data of relatedProducts;index as i" >
          <div class="productCard">
           
            <img src={{data.imageCover}}>
          
              <div class="textContent">
                  <div class="rating" *ngIf="data.ratingsAverage>=1 && data.ratingsAverage<2">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                  </div>
                  <div class="rating" *ngIf="data.ratingsAverage>=2 && data.ratingsAverage<3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                  </div>
                  <div class="rating" *ngIf="data.ratingsAverage>=3 && data.ratingsAverage<4">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                  </div>
                  <div class="rating" *ngIf="data.ratingsAverage>=4 && data.ratingsAverage<5">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    </div>
                    <div class="rating" *ngIf="data.ratingsAverage===5">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h5  class="price" *ngIf="data.priceAfterDiscount"><span >${{data.price}}</span> ${{data.priceAfterDiscount}}</h5>
                    <h5  class="price" *ngIf="!data.priceAfterDiscount"> ${{data.price}}</h5>
              </div>
              <h4 class="name">{{data.title}}</h4>
              <p class="discription" >{{data.description}}</p>
              <div class="button-container" (click)="$event.stopPropagation()">
                <label class="favorite-checkbox">
                  <input type="checkbox" [checked]="isProductInWishlist(data._id)" (change)="toggleFavorite($event,i)">
                  <i nz-icon nzType="heart" [nzTheme]="isProductInWishlist(data._id) ? 'fill' : 'outline'"   [@heartSizeChange]="isProductInWishlist(data._id) ? 'fill' : 'outline'"></i>
                </label>
                  <a (click)="addtocart(data._id)" class="btn">Ajouter<i class="fa-solid fa-cart-shopping"></i></a>
              </div>
          </div>
      </a>
      </div>
    </div>
  </section>
  <script src="../../../../../assets/js/productDetails.js"></script>
