<app-header (applySearch)="onApplySearch($event)"></app-header>
<router-outlet></router-outlet>
<footer>
    <div class="content">
        <div class="top">
            <h2>Auto<span>Parts</span></h2>
            <div class="media-icons">
                <a href=""><img src="../../../assets/images/facebook_logo_icon_147291.png" ></a>
                <a href=""><img src="../../../assets/images/1491580635-yumminkysocialmedia26_83102.png" ></a>
                <a href=""><img src="../../../assets/images/linkedin_icon-icons.com_65929.png" ></a>
            </div>
        </div>
        <hr>
        
        <div class="collap">
            <h3 class="coltitle">Foire aux Questions (FAQ)</h3>
            <nz-collapse nzAccordion [nzGhost]="true" >
                @for (panel of panels; track panel) {
                  <nz-collapse-panel [nzHeader]="panel.name" [nzActive]="panel.active"  style="color: #fff;">
                    <nz-collapse nzAccordion [nzGhost]="true" >
                        @for (panelC of panel.childPanel; track panelC) {
                          <nz-collapse-panel [nzHeader]="panelC.name" [nzActive]="panelC.active" style="color: #fff;">
                            <p style="color: #fff;">{{ panelC.content }}</p>
                          </nz-collapse-panel>
                        }
                      </nz-collapse>
                  </nz-collapse-panel>
                }
              </nz-collapse>
            </div>
            <hr>
        <div class="link-boxes">
            <ul class="boxs">
                <li class="link_name">Contact Us</li>
                <li><i class="fa-solid fa-phone" style="color: #ff5927;"></i> <a href="#">98765444</a></li>
                <li><i class="fa-regular fa-envelope" style="color: #ff5927;"> </i><a href="#">exemple&#64;gmail.com</a></li>
                <li><i class="fa-solid fa-location-dot" style="color: #ff5927;"> </i><a href="#">Rue Saint-Georges</a></li>
            </ul>
            <ul class="boxs">
                <li class="link_name">Quick Links</li>
                <li><a href="#">Home</a></li>
                <!-- <li><a href="#">Privacy Policy</a></li> -->
                <li><a href="/terms">Conditions Générales de Vente</a></li>
            </ul>
            
        </div>
       
        <hr>
    </div>
    <div class="bottom_details">
        <h5 class="copyright_text text-center">Copyright &#169; 2024 <a href="#"><span>AutoParts</span></a>. All rigths reserved</h5>
    </div>
</footer>
<!-- <script src="../../../assets/js/productDetails.js"></script> -->

