.layout {
    min-height: 100vh;
    background-color: var(--lightColor1);
  }
  .logo {
    height: 32px;
    background: var(--lightColor1);
    margin: 16px;
  }
  .slect{
     padding-left: 7px;
     padding-right: 7px;
     text-align: center;
  }
  nz-select {
    width: 100%;
  }

  nz-header {
    background: var(--lightColor1);
    padding: 0;
    text-align: center;
  }

  nz-content {
    margin: 24px 16px 0;
    background: var(--lightColor1);
  }

  .inner-content {
    background: #E6E6FA;
    min-height: 360px;
  }
  .inner-content .all-products{
   
    display: flex;
    flex-wrap: wrap;
  }
  nz-footer {
    text-align: center;
  }
  .custom-sidebar{
    padding-top: 75px;
    background: #E6E6FA;
    // box-shadow: 0 10px 20px rgba(0,0,0,.2);
  }
  .optionsList{
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
  }
  .sliderInputs{
    display: flex;
    justify-content: space-between;
  }

.ant-input-number{
  margin-left: 0;
}
.ant-menu-submenu .ant-menu-sub {
  background-color: #E6E6FA;
}
.productCard{
  background-color: #fff;
  color: var(--darkColor);
  border-radius: .6rem;
  width: 230px;
  height: 350px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin: 0 0 0 1.2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  transition: .3s;
}
.productCard:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.productDetails{

  text-decoration: none;
  color: var(--darkColor);
}
.productCard  img{
  object-fit: cover;
  width: 100%;
  height: 210px;
  
  border-radius: .6rem;
 
}
.productCard .textContent{
  margin: 1rem;
  margin-top: 10px;
  margin-bottom: 0;
  display: flex;
  justify-content:space-between;
  align-items:center;
}
.productCard .textContent .price{
  font-weight: bold;
  font-size: 16px;
}
.productCard .textContent .rating{
  color: var(--primarycolor);
}
.productCard .textContent h5 span{
  color: var(--bgColor-5);
  text-decoration:line-through;
}
.productCard .name{
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}
.productCard .discription{
  padding-left: 10px;
  padding-right: 7px;
  margin-bottom: 0;
  text-align: center;
  height: 31px;
  max-height: 31px;
  min-height: 31px;
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap;

}

.button-container{
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding-right: 1rem;
  
}
.button-container .container input {
  
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.button-container .container input {
    
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.button-container .container {
  margin: 0;
  padding: 1rem;
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
  transition: 100ms;
}
.favorite-checkbox {
  display: inline-block;
  cursor: pointer;
}

.favorite-checkbox input[type="checkbox"] {
  display: none;
}

.favorite-checkbox i {
  margin-left: 20px;
  font-size: 24px;
  color: var(--primarycolor); 
  animation: dislike_effect 400ms ease;
}

.button-container .btn{
  background-color: var(--primarycolor);
  color:var(--lightColor);
  font-size: 11px;
  text-decoration:none;
  font-weight: bold;
  padding: 0.41rem 1rem;
  margin-bottom: 7px;
  border-radius: 30px;
  border: 2px solid transparent;
  transition: 0.5s;
}
.button-container .btn:hover{
  background-color: transparent;
  border: 2px solid var(--primarycolor);
  color:var(--primarycolor);
}

.align-center{
  text-align: center;
}
.Ppagination{
  text-align: center;
  margin-bottom: 20px;
}
.absolute-sider {
  position: fixed;
  z-index: 200;
  background-color: transparent;
}
.searchbarr{
  display: none;
}
@media only screen and (max-width: 767px) { 
  .customMenu{
    display: none;
  }
  .searchbarr{
    margin-top: 20px;
    display: block;
  }
  .inner-content .all-products{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
