<h2>Nouveau mot de passe</h2>
<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-control [nzErrorTip]="getNewPasswordErrorMessage()">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="newPassword" placeholder="New Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
          <nz-form-control [nzErrorTip]="errorTpl">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="confirmPassword" placeholder="Confirm Password" />
              <ng-template #errorTpl let-control>
                  @if (control.errors?.['required']) {
                    Veuillez confirmer votre mot de passe!
                  }
                  @if (control.errors?.['confirm']) {
                    Deux mots de passe sont incohérents!
                  }
                </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
    
    
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Reset Password</button>
    
  </form>

