<div class="showProducts">
    <div class="productsPage">
        <div class="align-right">
          <button nz-button nzType="primary" (click)="showAddModal()">
            <span>Ajouter Type de piece</span>
          </button>
          <nz-modal
          [(nzVisible)]="isVisible"
          nzTitle={{modalTitle}}
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="submitForm(validateForm)"
          [nzOkLoading]="isLoading"
          [nzOkDisabled]="!validateForm.valid"
        >
          <ng-container *nzModalContent class="custom-modalContent">
            
              <form #f="ngForm" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm)">
                  <nz-form-item >
                      
                      <nz-form-control [nzSpan]="14" >
                        <nz-upload
        class="avatar-uploader"
        [nzShowUploadList]="false"
        nzListType="picture-card"
        (nzChange)="handleChange($event)"
      >
        <ng-container *ngIf="!avatarUrl">
          <span class="upload-icon" nz-icon [nzType]="'plus'"></span>
          <div class="ant-upload-text">Upload</div>
        </ng-container>
        <img *ngIf="avatarUrl" [src]="avatarUrl" style="width: 100%" />
      </nz-upload>
      
                      </nz-form-control>
                    </nz-form-item>
                    
                  <nz-form-item >
                    
                    <nz-form-control [nzSpan]="14" [nzErrorTip]="getNameErrorMessage()">
                      <input nz-input [(ngModel)]="itemData.name" placeholder="Type de piece" formControlName='name' type="text" id="name" />
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item >
                    
                    <nz-form-control [nzSpan]="14" nzErrorTip="le Type de Véhicule est requis!">
                        <nz-select formControlName='categorie' style="margin-bottom: 2px;" nzMode="tags" nzPlaceHolder="Catégorie" [(ngModel)]="listOfTagCategories" (ngModelChange)="affiche()">
                            <nz-option *ngFor="let option of listOfCategorie" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                          </nz-select>
                    </nz-form-control>
                  </nz-form-item>

                  
                </form>
                
          </ng-container>
      
        </nz-modal>
        </div>
          
      <div class="content">
        <!-- hhhhhhh -->
        
          <!-- hhhhhhh -->
        <div class="productCard" *ngFor="let data of listOfData;index as i">
            <img *ngIf="data.image" src={{data.image}} >
            <div *ngIf="!data.image" class="imageNotFound">
              <i class="fa-regular fa-file-image fa-2x"></i> 
            </div>
            <h4 class="name"> {{data.name}} </h4>
            <div class="button-container">
                <a  class="delete" (click)="delete(data._id,i)"><i class="fa-solid fa-trash"></i></a>
                  <button nz-button nzType="default" (click)="showUpdateModal(data._id,data.name,data.categorie,i)" class="custom-button">
                    <span>Modifier <i class="fa-solid fa-pen-to-square"></i></span>
                  </button>
                
            </div>
        </div>
        
        
        
        
        
        
       

      </div>

    
</div>


