.pageC{
    display: flex;
    justify-content: center; 
    align-items: center; 
    
}
.verifregisterContent{
    margin-top: 10px;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 55vh;
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.verifregisterContent h2{
    margin-bottom: 30px;

}