:root{
    --primarycolor:#ff5927;
    --secondaryColor:#93a5b9;
    --thirdColor:#d63a0a;
    --lightColor:#ffffff;
    --lightColor1:#E6E6FA;
    --lightColor2:#cadafc;
    --lightColor3:#5178f6;
    --darkColor:#000000;
    --bgColor-1:#5090cb;
    --bgColor-2:#1f6db5;
    --bgColor-3:#14497a;
    --bgColor-4:rgb(92, 171, 233);
    --bgColor-5:#1e50b4;
    --bhColor-6:rgb(89, 17, 223);
    --padding:8%;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: var(--lightColor1);
    display: flex;
    flex-direction: column;
}
html{ 
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    color: var(--lightColor);
}
#menu{
    margin-right: 20px;
    display: block;
    position: relative;
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
    user-select: none;
}

#menu span{
    display: block;
    width: 33px;
    height: 4px;
    background-color: var(--lightColor);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
    margin-bottom: 5px;
}
#menu:hover .menu-Bar{display: none;}
//productDetails
.productInformations{
    width: 100%;
    padding-top: 1.6rem;
    padding-right: 7.5rem;
    padding-left: 7.5rem;
    display: flex;
    flex-wrap: wrap;
}
.productImages{
  width: 40%;
  height: 600px;
  
  
}
#featured{
  width: 100%;
  height: 70%;
  cursor: pointer;
  border-radius: .4rem;
}
.productImages .thumbnail{
    width: 120px;
    height: 100px;
    cursor: pointer;
    opacity: 0.5;
    margin: 5px;
    border-radius: .4rem;
    transition: .3s;
  }
  .productImages .thumbnail:hover{
    opacity: 1;
  }
  .productImages .active{
    opacity: 1;
  }
  .slide-wrapper{
    max-width: 500px;
    display: flex;
    min-height: 100px;
    align-items: center;
  }
  #slider{
    width: 440px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
  }
  .slide-wrapper button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    font-family: monospace;
    color: var(--darkColor);
    font-weight: bold;
    font-size: large;
    font-size: 1.3rem;
    transition: .5s;
    
    margin-left: .6rem;
    margin-right: .3rem;
  }
  .slide-wrapper button:hover{
    background-color: var(--lightColor);
    color: #555;
  }
  .productInformations .textContent{
      width: 60%;
      padding-left: 1.3rem;
      padding-bottom: 7rem;
      font-size: 1.2rem;
      color: var(--darkColor);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .productInformations .textContent .rating{
      color: var(--primarycolor);
  }
  .productInformations .textContent .price{
    font-size: 1.5rem;

  }
  .productInformations .textContent .price .chateb{
    text-decoration: line-through;
    font-size: 1.3rem;
    color: var(--bgColor-5);
  }
  .productInformations .textContent h4{
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.15rem;
  }
  .productInformations .textContent .marque{
    font-weight: bold;
  }
  .productInformations .textContent h5 span{
    
    font-size: 0.7rem;
  }
  .productInformations .textContent p{
    text-align: justify;
  }
  .productInformations .container input {
      
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    
.reviews{
    width: 100%;
    padding-top: 1.6rem;
    padding-right: 7.5rem;
    padding-left: 7.5rem;
  }
  .reviewInformations{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: .4rem;
    
}
.wrapper{
  margin-bottom: 1rem;
}
.wrapper h4{
  color: var(--darkColor);
  
}
.reviewInformations .rating{
  color: var(--primarycolor);
  font-size: 1.2rem;
  margin-bottom: .5rem;
}
.reviewInformations .rating .star{
  cursor: pointer;
}
.reviewInformations .rating .star:hover{
  transform: scale(1.1);
}
.review{
    padding-top: .9rem;
    padding-bottom: 1rem;
    color: var(--darkColor);
    border-bottom: 2px solid var(--darkColor);
    
  }
  .review .nameRating{
    
    display: flex;
    
  }
  .review .nameRating .name{
    margin-right: 1rem;
  }
  .review .nameRating .rating{
    font-size: .9rem;
  }  
  .review p{
    margin-bottom: 0;
  }